In [1]:
import datetime
import pandas as pd

start = datetime.datetime.strptime("01-01-2018", "%d-%m-%Y")
end = datetime.datetime.strptime("26-01-2019", "%d-%m-%Y")
date_generated = [start + datetime.timedelta(days = x) for x in range(0, (end - start).days)]

dates_list = []
for date in date_generated:
    txt = str(str(date.day) + '.' + str(date.month) + '.' + str(date.year))
    dates_list.append(txt)

ndf = pd.DataFrame()  # create empty ndf
for i in range(0, len(dates_list)):
    allURL = 'https://www.uzse.uz/trade_results?date=' + dates_list[i] + '&locale=en&mkt_id=ALL&page=%d'

    for k in range(1, 100):
        url = allURL % k
        if pd.read_html(url)[0].empty:
            break
        else:
            chunk = pd.read_html(url)[0]
            chunk['Date'] = dates_list[i] # Date is positioned at last position, let's fix that
            cols = chunk.columns.tolist() # get a list of all the columns
            cols = cols[-1:] + cols[:-1] # rearrange the columns, move the last element (Date) to the first position
            chunk = chunk[cols] # reorder the dataframe
            ndf = pd.concat([ndf, chunk])

print(ndf)

         Date      Time                 ISIN                       Isu Name  \
0    4.1.2018  15:02:00   UZ7035530003  TNBN                <Turonbank> ATB
0    5.1.2018  13:18:29   UZ7055790008  AABK       <Asia Alliance Bank> ATB
1    5.1.2018  13:17:40   UZ7055790008  AABK       <Asia Alliance Bank> ATB
2    5.1.2018  13:16:47   UZ7055790008  AABK       <Asia Alliance Bank> ATB
0   11.1.2018  12:36:36   UZ705533K016  UNGC  <O'zneftgazqazibchiqarish> AJ
0   12.1.2018  11:48:12   UZ7039920002  IPKY              AITB <Ipak Yo'li>
0   15.1.2018  14:29:46   UZ7011340005  HMKB               <Hamkorbank> ATB
1   15.1.2018  14:27:03   UZ7011340005  HMKB               <Hamkorbank> ATB
2   15.1.2018  14:23:39   UZ7011340005  HMKB               <Hamkorbank> ATB
3   15.1.2018  14:19:20   UZ7011340005  HMKB               <Hamkorbank> ATB
0   16.1.2018  15:02:00   UZ7018790004  KKBN    ATB <Qishloq qurilish bank>
0   17.1.2018  15:02:00   UZ7045320007  ALSM                 <Alskom> SK AJ
1   17.1.2018  14:02:02   UZ701879K017  KKB1    ATB <Qishloq qurilish bank>
2   17.1.2018  11:10:29   UZ700788K011  UZG1           <O'zbekgeofizika> AJ
3   17.1.2018  11:08:07   UZ700788K011  UZG1           <O'zbekgeofizika> AJ
4   17.1.2018  11:05:14   UZ700788K011  UZG1           <O'zbekgeofizika> AJ
0   18.1.2018  14:17:54   UZ7011340005  HMKB               <Hamkorbank> ATB
1   18.1.2018  14:14:54   UZ7011340005  HMKB               <Hamkorbank> ATB
2   18.1.2018  11:21:45   UZ7011340005  HMKB               <Hamkorbank> ATB
3   18.1.2018  11:19:56   UZ7011340005  HMKB               <Hamkorbank> ATB
4   18.1.2018  11:13:18   UZ7011340005  HMKB               <Hamkorbank> ATB
5   18.1.2018  10:02:00   UZ7001560000  AGBA                 <Agrobank> ATB
0   19.1.2018  14:22:30   UZ7009280007  TKTN               <Turkiston> XATB
1   19.1.2018  14:22:26   UZ7009280007  TKTN               <Turkiston> XATB
2   19.1.2018  14:22:18   UZ7009280007  TKTN               <Turkiston> XATB
3   19.1.2018  14:22:09   UZ7009280007  TKTN               <Turkiston> XATB
4   19.1.2018  14:21:49   UZ7009280007  TKTN               <Turkiston> XATB
5   19.1.2018  13:25:30   UZ7047860000  ENTM        <Energota'mir> MTICh AJ
6   19.1.2018  10:58:36   UZ7011340005  HMKB               <Hamkorbank> ATB
7   19.1.2018  10:45:04   UZ7014210007  ABKK    <Amubuxorokanalqurilish> AJ
..        ...       ...                  ...                            ...
14  25.1.2019  10:15:01   UZ7054570005  IPTB            <Ipoteka-bank> ATIB
15  25.1.2019  10:14:13  UZ705457K018  IPTB1            <Ipoteka-bank> ATIB
16  25.1.2019  10:10:53   UZ7029000005  QZSM            <Qizilqumsement> AJ
17  25.1.2019  10:09:41  UZ705457K018  IPTB1            <Ipoteka-bank> ATIB
18  25.1.2019  10:09:41  UZ705457K018  IPTB1            <Ipoteka-bank> ATIB
19  25.1.2019  10:08:50   UZ7004510002  KUMZ    <Qo'qon mexanika zavodi> AJ
0   25.1.2019  10:08:32   UZ703756K015  SQB1    <O'zsanoatqurilishbank> ATB
1   25.1.2019  10:05:59   UZ7029000005  QZSM            <Qizilqumsement> AJ
2   25.1.2019  10:05:21   UZ7029000005  QZSM            <Qizilqumsement> AJ
3   25.1.2019  10:05:11   UZ7004510002  KUMZ    <Qo'qon mexanika zavodi> AJ
4   25.1.2019  10:05:09   UZ7004510002  KUMZ    <Qo'qon mexanika zavodi> AJ
5   25.1.2019  10:05:06   UZ7004510002  KUMZ    <Qo'qon mexanika zavodi> AJ
6   25.1.2019  10:05:00   UZ7004510002  KUMZ    <Qo'qon mexanika zavodi> AJ
7   25.1.2019  10:04:53   UZ7004510002  KUMZ    <Qo'qon mexanika zavodi> AJ
8   25.1.2019  10:04:23   UZ7029000005  QZSM            <Qizilqumsement> AJ
9   25.1.2019  10:03:55   UZ7029000005  QZSM            <Qizilqumsement> AJ
10  25.1.2019  10:03:50  UZ705457K018  IPTB1            <Ipoteka-bank> ATIB
11  25.1.2019  10:03:45   UZ7004510002  KUMZ    <Qo'qon mexanika zavodi> AJ
12  25.1.2019  10:03:23   UZ7029000005  QZSM            <Qizilqumsement> AJ
13  25.1.2019  10:02:53   UZ7029000005  QZSM            <Qizilqumsement> AJ
14  25.1.2019  10:02:39   UZ7004510002  KUMZ    <Qo'qon mexanika zavodi> AJ
15  25.1.2019  10:02:00   UZ7001560000  AGBA                 <Agrobank> ATB
16  25.1.2019  10:02:00   UZ7004510002  KUMZ    <Qo'qon mexanika zavodi> AJ
17  25.1.2019  10:02:00   UZ7029000005  QZSM            <Qizilqumsement> AJ
18  25.1.2019  10:02:00   UZ7029000005  QZSM            <Qizilqumsement> AJ
19  25.1.2019  10:02:00   UZ7052260005  UZIR              <O'zbekko'mir> AJ
0   25.1.2019  10:02:00  UZ705457K018  IPTB1            <Ipoteka-bank> ATIB
1   25.1.2019  10:02:00  UZ705457K018  IPTB1            <Ipoteka-bank> ATIB
2   25.1.2019  10:02:00  UZ705457K018  IPTB1            <Ipoteka-bank> ATIB
3   25.1.2019  10:01:40   UZ7025770007  KVTS                    <Kvarts> AJ

   Тип ценной бумаги Market BRD ID  Trade Price  Trading Volumn  \
0       Простыеакции    STK     G1      1700.00              20
0       Простыеакции    STK     G1       260.00         6512450
1       Простыеакции    STK     G1       260.00         6512450
2       Простыеакции    STK     G1       260.00         6512450
0         Прив.акции    STK     G1      1000.00              58
0       Простыеакции    STK     G1        10.00         8800000
0       Простыеакции    STK     NC       155.00            5000
1       Простыеакции    STK     NC       155.00           10000
2       Простыеакции    STK     NC       155.00            5175
3       Простыеакции    STK     G1       155.00           57533
0       Простыеакции    STK     G1       119.00             995
0       Простыеакции    STK     G1      1700.00             590
1         Прив.акции    STK     G1       200.00           10000
2         Прив.акции    STK     NC       286.00            4000
3         Прив.акции    STK     NC       286.00            4000
4         Прив.акции    STK     NC       286.00            4200
0       Простыеакции    STK     NC       155.00            8584
1       Простыеакции    STK     NC       155.00             722
2       Простыеакции    STK     NC       155.00            5000
3       Простыеакции    STK     NC       155.00            1000
4       Простыеакции    STK     NC       155.00            6827
5       Простыеакции    STK     G1      1168.00              70
0       Простыеакции    STK     G1      1000.00               1
1       Простыеакции    STK     G1      1000.00               1
2       Простыеакции    STK     G1      1000.00               1
3       Простыеакции    STK     G1      1000.00               1
4       Простыеакции    STK     G1      1000.00               1
5       Простыеакции    STK     NC      5000.00              74
6       Простыеакции    STK     G1       155.00           40000
7       Простыеакции    STK     G1      2000.00             172
..               ...    ...    ...          ...             ...
14      Простыеакции    STK     G1         0.82         6400000
15        Прив.акции    STK     G1         2.67            5000
16      Простыеакции    STK     G1      1800.00               5
17        Прив.акции    STK     G1         2.60            1000
18        Прив.акции    STK     G1         2.60             200
19      Простыеакции    STK     G1      1451.00              38
0         Прив.акции    STK     G1        43.00            1160
1       Простыеакции    STK     G1      1800.00               1
2       Простыеакции    STK     G1      1800.00              10
3       Простыеакции    STK     G1      1451.00               5
4       Простыеакции    STK     G1      1451.00               5
5       Простыеакции    STK     G1      1451.00               5
6       Простыеакции    STK     G1      1451.00              15
7       Простыеакции    STK     G1      1451.00             350
8       Простыеакции    STK     G1      1800.00               2
9       Простыеакции    STK     G1      1800.00             200
10        Прив.акции    STK     G1         2.69               1
11      Простыеакции    STK     G1      1450.00              46
12      Простыеакции    STK     G1      1800.00            2000
13      Простыеакции    STK     G1      1790.00              64
14      Простыеакции    STK     G1      1450.00               4
15      Простыеакции    STK     G1      1050.00              10
16      Простыеакции    STK     G1      1450.00              50
17      Простыеакции    STK     G1      1799.00             440
18      Простыеакции    STK     G1      1799.00              28
19      Простыеакции    STK     G1      2905.00               2
0         Прив.акции    STK     G1         2.69            1500
1         Прив.акции    STK     G1         2.69            1500
2         Прив.акции    STK     G1         2.69           18500
3       Простыеакции    STK     G1      5900.00               1

         Trading Value
0          UZS  34,000
0   UZS  1,693,237,000
1   UZS  1,693,237,000
2   UZS  1,693,237,000
0          UZS  58,000
0      UZS  88,000,000
0         UZS  775,000
1       UZS  1,550,000
2         UZS  802,125
3       UZS  8,917,615
0         UZS  118,405
0       UZS  1,003,000
1       UZS  2,000,000
2       UZS  1,144,000
3       UZS  1,144,000
4       UZS  1,201,200
0       UZS  1,330,520
1         UZS  111,910
2         UZS  775,000
3         UZS  155,000
4       UZS  1,058,185
5          UZS  81,760
0           UZS  1,000
1           UZS  1,000
2           UZS  1,000
3           UZS  1,000
4           UZS  1,000
5         UZS  370,000
6       UZS  6,200,000
7         UZS  344,000
..                 ...
14      UZS  5,248,000
15         UZS  13,350
16          UZS  9,000
17          UZS  2,600
18            UZS  520
19         UZS  55,138
0          UZS  49,880
1           UZS  1,800
2          UZS  18,000
3           UZS  7,255
4           UZS  7,255
5           UZS  7,255
6          UZS  21,765
7         UZS  507,850
8           UZS  3,600
9         UZS  360,000
10           UZS  2.69
11         UZS  66,700
12      UZS  3,600,000
13        UZS  114,560
14          UZS  5,800
15         UZS  10,500
16         UZS  72,500
17        UZS  791,560
18         UZS  50,372
19          UZS  5,810
0           UZS  4,035
1           UZS  4,035
2          UZS  49,765
3           UZS  5,900

[15054 rows x 10 columns]

Let's see what are the names of the **Columns** in the data frame:

In [2]:
ndf.columnsns

Index(['Date', 'Time', 'ISIN', 'Isu Name', 'Тип ценной бумаги', 'Market',
       'BRD ID', 'Trade Price', 'Trading Volumn', 'Trading Value'],
      dtype='object')

Before moving forward we should get rid off the column with funny letters. Rename the column 5:

In [7]:
ndf.columns.values[4] = 'Security Type'
ndf.columns

Index(['Date', 'Time', 'ISIN', 'Isu Name', 'Security Type', 'Market', 'BRD ID',
       'Trade Price', 'Trading Volumn', 'Trading Value'],
      dtype='object')

Now using the column **"Market"**, we can see how many transactions or trades completed for each unique type of the Market:

In [34]:
ndf.Market.value_counts()

STK    15051
BND        3
Name: Market, dtype: int64

From the results above, it appears that there were only three trades related to Bonds, while the total number of trades with Stocks is equal to 15051. Let's look at the trades with Bonds:

In [37]:
bdf = ndf.loc[ndf['Market'] == 'BND']
#bdf['Date'] = bdf['Date'].str.replace('.','-')
#bdf['Date'] = pd.to_datetime(bdf['Date'], format='%d-%m-%Y')
bdfData = bdf.to_dict(orient='list')
bdfData

{'BRD_ID': ['G1', 'G1', 'G1'],
 'Date': [Timestamp('2018-07-16 00:00:00'),
  Timestamp('2018-08-15 00:00:00'),
  Timestamp('2018-11-19 00:00:00')],
 'ISIN': ['UZ6037561032  SQB3', 'UZ6037561032  SQB3', 'UZ6047441VA5  KPB2'],
 'Isu_Name': ["<O''zsanoatqurilishbank> ATB",
  "<O''zsanoatqurilishbank> ATB",
  '<Kapitalbank> ATB'],
 'Market': ['BND', 'BND', 'BND'],
 'Security_Type': ['Облигации', 'Облигации', 'Облигации'],
 'Time': ['12:47:17', '14:28:11', '12:21:26'],
 'Trade_Price': [103000.0, 103000.0, 1000000.0],
 'Trading_Value': ['UZS  103,000', 'UZS  7,107,000', 'UZS  230,000,000'],
 'Trading_Volumn': [1, 69, 230]}

Let's now convert the dates to proper date format:

In [11]:
ddf = ndf
ddf['Date'] = ddf['Date'].str.replace('.','-')
ddf['Date'] = pd.to_datetime(ddf['Date'], format='%d-%m-%Y')
ddf.head()

,Date,Time,ISIN,Isu Name,Security Type,Market,BRD ID,Trade Price,Trading Volumn,Trading Value
0,2018-01-04,15:02:00,UZ7035530003 TNBN,<Turonbank> ATB,Простыеакции,STK,G1,1700.0,20,"UZS 34,000"
0,2018-01-05,13:18:29,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,"UZS 1,693,237,000"
1,2018-01-05,13:17:40,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,"UZS 1,693,237,000"
2,2018-01-05,13:16:47,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,"UZS 1,693,237,000"
0,2018-01-11,12:36:36,UZ705533K016 UNGC,<O'zneftgazqazibchiqarish> AJ,Прив.акции,STK,G1,1000.0,58,"UZS 58,000"

See what Security Type column has in it. But before that, we need to replace **' '** with **'_'** in columns names to make pandas functionality work better:

In [17]:
ddf.columns = ddf.columns.str.replace(' ', '_')
ddf.Security_Type.value_counts()

Простыеакции    13571
Прив.акции       1480
Облигации           3
Name: Security_Type, dtype: int64

Nowe we replace those funny words to proper ones:

In [20]:
replace_values = {'Простыеакции' : 'CommonStock', 'Прив.акции' : 'PrefStock', 'Облигации' : 'Bond'}                                                                                          
ddf = ddf.replace({"Security_Type": replace_values}) 
ddf.Security_Type.value_counts()

CommonStock    13571
PrefStock       1480
Bond               3
Name: Security_Type, dtype: int64

Let's see how many Issuers we have traded since September, 2016:

In [25]:
ddf.head()

,Date,Time,ISIN,Isu_Name,Security_Type,Market,BRD_ID,Trade_Price,Trading_Volumn,Trading_Value
0,2018-01-04,15:02:00,UZ7035530003 TNBN,<Turonbank> ATB,CommonStock,STK,G1,1700.0,20,"UZS 34,000"
0,2018-01-05,13:18:29,UZ7055790008 AABK,<Asia Alliance Bank> ATB,CommonStock,STK,G1,260.0,6512450,"UZS 1,693,237,000"
1,2018-01-05,13:17:40,UZ7055790008 AABK,<Asia Alliance Bank> ATB,CommonStock,STK,G1,260.0,6512450,"UZS 1,693,237,000"
2,2018-01-05,13:16:47,UZ7055790008 AABK,<Asia Alliance Bank> ATB,CommonStock,STK,G1,260.0,6512450,"UZS 1,693,237,000"
0,2018-01-11,12:36:36,UZ705533K016 UNGC,<O'zneftgazqazibchiqarish> AJ,PrefStock,STK,G1,1000.0,58,"UZS 58,000"

Top 10 transactions look like as:

In [32]:
Trade_by_Issuers = ddf['Isu_Name'].value_counts()\
                 .to_frame('Transactions').rename_axis('Issuers')\
                 .reset_index()
Trade_by_Issuers.head(10)

                             Issuers  Transactions
0                        <Kvarts> AJ          3576
1        <Qo'qon mexanika zavodi> AJ          3259
2                <Qizilqumsement> AJ          1803
3        <O'zsanoatqurilishbank> ATB          1140
4                   <Hamkorbank> ATB           993
5  <Andijon tajriba-sinov zavodi> AJ           442
6                <Ipoteka-bank> ATIB           407
7                  <O'zbekko'mir> AJ           399
8                     <Alskom> SK AJ           202
9               <Sarbon-Neftegaz> AJ           196

In order to see the characteristics of each column (date, number, string, etc.) we do:

In [18]:
ddf.dtypes

Date              datetime64[ns]
Time                      object
ISIN                      object
Isu_Name                  object
Security_Type             object
Market                    object
BRD_ID                    object
Trade_Price              float64
Trading_Volumn             int64
Trading_Value             object
dtype: object

In [38]:
ndf.head()

,Date,Time,ISIN,Isu_Name,Security_Type,Market,BRD_ID,Trade_Price,Trading_Volumn,Trading_Value
0,2018-01-04,15:02:00,UZ7035530003 TNBN,<Turonbank> ATB,Простыеакции,STK,G1,1700.0,20,"UZS 34,000"
0,2018-01-05,13:18:29,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,"UZS 1,693,237,000"
1,2018-01-05,13:17:40,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,"UZS 1,693,237,000"
2,2018-01-05,13:16:47,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,"UZS 1,693,237,000"
0,2018-01-11,12:36:36,UZ705533K016 UNGC,<O'zneftgazqazibchiqarish> AJ,Прив.акции,STK,G1,1000.0,58,"UZS 58,000"

The column 'Trading_Value' is not a number, thus we need to multiply the price by quantity to get the total value of a transaction:

In [49]:
import numpy as np
ndf['Trade_Price'] = ndf['Trade_Price'].apply(np.float64)
ndf['Trading_Value'] = ndf.Trade_Price * ndf.Trading_Volumn
ndf.head()

,Date,Time,ISIN,Isu_Name,Security_Type,Market,BRD_ID,Trade_Price,Trading_Volumn,Trading_Value
0,2018-01-04,15:02:00,UZ7035530003 TNBN,<Turonbank> ATB,Простыеакции,STK,G1,1700.0,20,3.400000e+04
0,2018-01-05,13:18:29,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,1.693237e+09
1,2018-01-05,13:17:40,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,1.693237e+09
2,2018-01-05,13:16:47,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,1.693237e+09
0,2018-01-11,12:36:36,UZ705533K016 UNGC,<O'zneftgazqazibchiqarish> AJ,Прив.акции,STK,G1,1000.0,58,5.800000e+04

Let's try to format the number and make them look nice:

In [50]:
ndf = ndf.round(2)
ndf.head()

,Date,Time,ISIN,Isu_Name,Security_Type,Market,BRD_ID,Trade_Price,Trading_Volumn,Trading_Value
0,2018-01-04,15:02:00,UZ7035530003 TNBN,<Turonbank> ATB,Простыеакции,STK,G1,1700.0,20,3.400000e+04
0,2018-01-05,13:18:29,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,1.693237e+09
1,2018-01-05,13:17:40,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,1.693237e+09
2,2018-01-05,13:16:47,UZ7055790008 AABK,<Asia Alliance Bank> ATB,Простыеакции,STK,G1,260.0,6512450,1.693237e+09
0,2018-01-11,12:36:36,UZ705533K016 UNGC,<O'zneftgazqazibchiqarish> AJ,Прив.акции,STK,G1,1000.0,58,5.800000e+04

In [51]:
ndf.dtypes

Date              datetime64[ns]
Time                      object
ISIN                      object
Isu_Name                  object
Security_Type             object
Market                    object
BRD_ID                    object
Trade_Price              float64
Trading_Volumn             int64
Trading_Value            float64
dtype: object

In [52]:
minim = ndf['Trade_Price'].min()
minim

0.0